.main-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;

  flex-direction: column;
  align-items: center
}

.main-container-SVG {
  transform: scale(0.7);
}

h1 {
  letter-spacing: 50px;
  font-weight: 600;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  position: relative;
  left: 5%;
  height: 40px;
}